
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
}
.add-btn{
  background-color: lightgrey;
  border: 1px solid black;
}
li {
  margin-bottom: 5px;
}
